python-dotenv==1.0.0
streamlit==1.25.0
streamlit-chat==0.1.1
langchain==0.0.249
atlassian-python-api==3.40.0
beautifulsoup4==4.12.2
tiktoken==0.4.0
lxml==4.9.3
sentence-transformers==2.2.2
chromadb==0.4.4
openai==0.27.8